<div class="container">
  <h1>Kids</h1>
  <table class="table table-striped" id="kids">
    <thead>
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @kids.each do |kid| %>
      <tr data-link="<%= kid_path(kid) %>">
        <td><%= kid.name %></td>
        <td><%= kid.balance %></td>
        <td><%= button_to 'x', kid, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn-mini' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= button_to 'Add Kid', new_kid_path, method: :get, :class => 'btn btn-large btn-success'%>
</div>