<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 id="kid-name"><%= @kid.name %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
      <% @kid.transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.format_date %></td>
        <td><span>$</span><span class="money"><%= transaction.total %></span></td>
        <td class="comment"><%= transaction.comment %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <span class="total">Balance: <span><span class="total"><%= @kid.total %></span>
  </div>
</div>