<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KidsCash</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <div id="add-transaction-modal" class="span4">
    <div class="modal-body">
      <div id="add-transaction-name-select">
        <select id="add-transaction-name">
        <% Kid.all.each do |kid| %>
          <option><%= kid.name %></option>
        <% end %>
        </select>
      </div>
      <div class="field">
        <label for="add-transaction-amount">Amount</label
        <br>
        <input id="add-transaction-amount" size="30" type="number"></input>
      </div>
      <div class="field">
        <label for="add-transaction-comment">Comment</label>
        <br>
        <textarea id="add-transaction-comment"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success" id="add-transaction-finish">Quick Add</a>
      <a href="#" class="btn" id="add-transction-close" data-dismiss="modal">Close</a>
    </div>
  </div>

  <div id="add-kid-modal" class="span4">
    <div class="modal-body">
      <div class="field">
        <label for="add-kid-name">Name</label>
        <input id="add-kid-name" size="30"></input>
      </div>
      <br>
      <div class="field">
        <label for="add-kid-balance">Balance</label>
        <input id="add-kid-balance" size="30" type="number"></input>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success" id="add-kid-finish">Add Kid</a>
      <a href="#" id="add-kid-close" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

</body>
</html>
