<!DOCTYPE html>
<html>
<head>
  <title>KidsCash</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <div id="add-modal" class="modal hide fade in">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">x</a>
      <h3 id="modal-name"></h3>
    </div>
    <div class="modal-body">
      <div id="name-select">
        <select id="add-name">
        <% Kid.all.each do |kid| %>
          <option><%= kid.name %></option>
        <% end %>
        </select>
      </div>
      <div class="field">
        <label for="transaction-amount">Amount</label
        <br>
        <input id="transaction-amount" size="30"></input>
      </div>
      <div class="field">
        <label for="add-comment">Comment</label>
        <br>
        <textarea id="add-comment"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success" id="add-finish">Quick Add</a>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

  <div id="add-kid-modal" class="modal hide fade in">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">x</a>
      <h3 id="modal-name">Add Kid</h3>
    </div>
    <div class="modal-body">
      <div class="field">
        <label for="kid-name">Name</label>
        <input id="kid-name" size="30"></input>
      </div>
      <br>
      <div class="field">
        <label for="kid-balance">Balance</label>
        <input id="kid-balance" size="30"></input>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success" id="add-kid-finish">Add Kid</a>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

</body>
</html>
